In [33]:
import pandas as pd
import pickle

In [3]:
df = pd.read_csv('Admission_Predict.csv')

In [4]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [10]:
X = df.iloc[:,1:8]
y = df.iloc[:,-1]

In [11]:
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [12]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(categorical_features=[6])
X = enc.fit_transform(X).toarray()

C:\Users\daisycharlie\Anaconda3\envs\tensor2_real\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\daisycharlie\Anaconda3\envs\tensor2_real\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [13]:
X = pd.DataFrame(X)
X.head()

     0    1      2      3    4    5    6     7
0  0.0  1.0  337.0  118.0  4.0  4.5  4.5  9.65
1  0.0  1.0  324.0  107.0  4.0  4.0  4.5  8.87
2  0.0  1.0  316.0  104.0  3.0  3.0  3.5  8.00
3  0.0  1.0  322.0  110.0  3.0  3.5  2.5  8.67
4  1.0  0.0  314.0  103.0  2.0  2.0  3.0  8.21

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [17]:
X = pd.DataFrame(X)
X.head()

,0,1,2,3,4,5,6,7
0,-0.909112,0.909112,1.762107,1.746971,0.798829,1.093864,1.167321,1.764818
1,-0.909112,0.909112,0.627656,-0.067635,0.798829,0.596653,1.167321,0.455151
2,-0.909112,0.909112,-0.070467,-0.562528,-0.076600,-0.397769,0.052933,-1.005631
3,-0.909112,0.909112,0.453126,0.427257,-0.076600,0.099442,-1.061454,0.119339
4,1.099975,-1.099975,-0.244998,-0.727492,-0.952029,-1.392191,-0.504260,-0.653029

In [18]:
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit , dtype: float64

In [36]:
x_test = X.iloc[1]
x_test = x_test
x_test = pd.DataFrame(x_test).transpose()
x_test

,0,1,2,3,4,5,6,7
1,-0.909112,0.909112,0.627656,-0.067635,0.798829,0.596653,1.167321,0.455151

In [37]:
with open('regModel', 'rb') as file: 
    print(file)
    Pickled_LR_Model = pickle.load(file)

y_pred = Pickled_LR_Model.predict(x_test)

<_io.BufferedReader name='regModel'>

In [38]:
y_pred

array([[0.80574802]])